@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-raleway: "Raleway Variable", sans-serif;
  --font-merriweather: "Merriweather Variable", serif;
  --font-space-mono: "Space Mono", monospace;
  --font-redaction-20: "Redaction 35", "Merriweather Variable", serif;

  --color-light: #feead1;
  --color-dark: #333333;
  --color-dark-purple: #403136;
  --color-red-highlight: #ce342c;
  --color-turquoise-highlight: #007a83;
  --color-light-gray: #bdd2ce;

  --text-shadow-sexy: 2px 3px 0px var(--color-dark);
}

@view-transition {
  navigation: auto;
}

@keyframes videogame-jump {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(-10px);
  }
  70% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.videogame-jump {
  animation: videogame-jump 0.8s steps(1, end) infinite;
}

@keyframes videogame-rotate {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  37.5% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  62.5% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(10deg);
  }
  87.5% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.videogame-rotate {
  animation: videogame-rotate 1.6s steps(1, end) infinite;
}

.font-redaction-20 {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}

.prose {
  --tw-prose-bullets: var(--color-dark);
}
