---
import SocialLink from "./SocialLink.astro";
---

<footer class="bg-dark-purple text-light">
  <div
    class="mx-auto max-w-6xl px-4 py-10 flex flex-col md:flex-row items-center justify-between gap-4"
  >
    <p class="text-sm text-light-gray text-center md:text-left">
      Observatorio de Derecho Informático Argentino (O.D.I.A.)
    </p>

    <p class="text-sm text-light-gray text-center md:text-left">
      <!-- TODO: mail institucional por favorrrr -->
      <a
        href="mailto:odiaasoc@gmail.com"
        class="text-light-gray hover:text-light transition-colors"
      >
        odiaasoc@gmail.com
      </a>
    </p>

    <ul class="flex items-center gap-3 flex-wrap justify-center md:justify-end">
      <li>
        <SocialLink
          href="https://instagram.com/odiaasoc"
          icon="mdi:instagram"
          ariaLabel="Instagram"
        />
      </li>
      <li>
        <SocialLink
          href="https://twitter.com/odiaasoc"
          icon="mdi:twitter"
          ariaLabel="Twitter"
        />
      </li>
      <li>
        <SocialLink
          href="https://www.facebook.com/ODIAasoc"
          icon="mdi:facebook"
          ariaLabel="Facebook"
        />
      </li>
      <li>
        <SocialLink
          href="https://www.linkedin.com/company/odiaasoc/"
          icon="mdi:linkedin"
          ariaLabel="LinkedIn"
        />
      </li>
      <li>
        <SocialLink
          href="https://medium.com/@odiaasoc"
          icon="mdi:medium"
          ariaLabel="Medium"
        />
      </li>
      <li>
        <SocialLink
          href="https://github.com/odia/"
          icon="mdi:github"
          ariaLabel="GitHub"
        />
      </li>
      <li>
        <SocialLink
          href="https://www.youtube.com/@observatoriodederechoinfor7762/videos"
          icon="mdi:youtube"
          ariaLabel="YouTube"
        />
      </li>
      <li>
        <SocialLink
          href="https://t.me/odiaasoc"
          icon="mdi:telegram"
          ariaLabel="Telegram"
        />
      </li>
    </ul>
  </div>
</footer>
