---

---

<footer class="bg-dark-purple text-light">
  <div
    class="mx-auto max-w-6xl px-4 py-10 flex flex-col md:flex-row items-center justify-between gap-4"
  >
    <p class="text-sm text-light-gray text-center md:text-left">
      Observatorio de Derecho Informático Argentino (O.D.I.A.)
    </p>

    <p class="text-sm text-light-gray text-center md:text-left">
      <!-- TODO: mail institucional por favorrrr -->
      <a
        href="mailto:odiaasoc@gmail.com"
        class="text-light-gray hover:text-light transition-colors"
      >
        odiaasoc@gmail.com
      </a>
    </p>

    <ul class="flex items-center gap-3 flex-wrap justify-center md:justify-end">
      <li>
        <a
          href="https://instagram.com/odiaasoc"
          aria-label="Instagram"
          class="inline-flex items-center justify-center size-10 rounded-full ring-1 ring-light-gray/40 text-light hover:text-light hover:bg-dark/20 transition-colors"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-5"
            aria-hidden="true"
          >
            <path
              d="M7 2C4.243 2 2 4.243 2 7v10c0 2.757 2.243 5 5 5h10c2.757 0 5-2.243 5-5V7c0-2.757-2.243-5-5-5H7zm10 2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3H7a3 3 0 0 1-3-3V7a3 3 0 0 1 3-3h10zM12 7a5 5 0 1 0 0 10 5 5 0 0 0 0-10zm0 2.1A2.9 2.9 0 1 1 12 15a2.9 2.9 0 0 1 0-5.8zM17.35 6.65a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
            ></path>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://twitter.com/odiaasoc"
          aria-label="Twitter"
          class="inline-flex items-center justify-center size-10 rounded-full ring-1 ring-light-gray/40 text-light hover:text-light hover:bg-dark/20 transition-colors"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-5"
            aria-hidden="true"
          >
            <path
              d="M22.46 6c-.77.35-1.6.58-2.46.69a4.22 4.22 0 0 0 1.85-2.33 8.45 8.45 0 0 1-2.68 1.03 4.21 4.21 0 0 0-7.17 3.84A11.94 11.94 0 0 1 3.15 4.6a4.2 4.2 0 0 0 1.3 5.62 4.17 4.17 0 0 1-1.91-.53v.05a4.21 4.21 0 0 0 3.38 4.13c-.46.13-.95.2-1.45.07a4.22 4.22 0 0 0 3.93 2.92A8.45 8.45 0 0 1 2 19.54 11.93 11.93 0 0 0 8.29 21c7.55 0 11.68-6.25 11.68-11.68 0-.18 0-.36-.01-.53A8.35 8.35 0 0 0 22.46 6z"
            ></path>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/ODIAasoc"
          aria-label="Facebook"
          class="inline-flex items-center justify-center size-10 rounded-full ring-1 ring-light-gray/40 text-light hover:text-light hover:bg-dark/20 transition-colors"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-5"
            aria-hidden="true"
          >
            <path
              d="M22 12a10 10 0 1 0-11.5 9.95v-7.04H7.9V12h2.6V9.8c0-2.57 1.53-3.99 3.87-3.99 1.12 0 2.3.2 2.3.2v2.52h-1.3c-1.28 0-1.68.79-1.68 1.6V12h2.86l-.46 2.91h-2.4v7.04A10 10 0 0 0 22 12z"
            ></path>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/company/odiaasoc/"
          aria-label="LinkedIn"
          class="inline-flex items-center justify-center size-10 rounded-full ring-1 ring-light-gray/40 text-light hover:text-light hover:bg-dark/20 transition-colors"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-5"
            aria-hidden="true"
          >
            <path
              d="M20.45 20.45h-3.55v-5.4c0-1.29-.03-2.95-1.8-2.95-1.8 0-2.07 1.4-2.07 2.85v5.5H9.48V9h3.4v1.56h.05c.47-.9 1.62-1.85 3.33-1.85 3.56 0 4.22 2.34 4.22 5.39v6.35zM5.34 7.43a2.06 2.06 0 1 1 0-4.12 2.06 2.06 0 0 1 0 4.12zM7.12 20.45H3.56V9h3.56v11.45z"
            ></path>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://medium.com/@odiaasoc"
          aria-label="Medium"
          class="inline-flex items-center justify-center size-10 rounded-full ring-1 ring-light-gray/40 text-light hover:text-light hover:bg-dark/20 transition-colors"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-5"
            aria-hidden="true"
          >
            <path
              d="M2 7.5c0-.28.1-.54.3-.75L4.8 4.1V4H1v.1l2.1 2.9c.08.1.12.23.12.36v7.1c0 .13-.04.26-.12.36L1 17.8V17.9h6v-.1l-2.1-2.1a.6.6 0 0 1-.18-.43V8.3l5.1 9.6h.6l4.4-9.6v7.9c0 .12-.04.24-.12.33l-1.6 1.95v.1h6.1v-.1l-1.6-1.95a.6.6 0 0 1-.12-.33V6.3c0-.12.04-.24.12-.33L22 4.1V4h-6.8l-3.8 8.5L7.7 4H1v.1l1.3 1.84c.2.21.3.47.3.75z"
            ></path>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/odia/"
          aria-label="GitHub"
          class="inline-flex items-center justify-center size-10 rounded-full ring-1 ring-light-gray/40 text-light hover:text-light hover:bg-dark/20 transition-colors"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-5"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12 .5a11.5 11.5 0 0 0-3.64 22.42c.58.11.79-.25.79-.56v-2c-3.22.7-3.9-1.55-3.9-1.55-.53-1.35-1.3-1.7-1.3-1.7-1.06-.72.08-.71.08-.71 1.18.08 1.8 1.22 1.8 1.22 1.04 1.78 2.74 1.27 3.4.97.11-.76.41-1.27.74-1.56-2.57-.29-5.27-1.28-5.27-5.68 0-1.25.45-2.27 1.19-3.07-.12-.29-.52-1.47.11-3.06 0 0 .97-.31 3.18 1.17a11.06 11.06 0 0 1 5.8 0c2.2-1.48 3.17-1.17 3.17-1.17.63 1.59.23 2.77.12 3.06.74.8 1.18 1.82 1.18 3.07 0 4.41-2.7 5.38-5.28 5.66.42.37.79 1.1.79 2.22v3.29c0 .31.21.68.8.56A11.5 11.5 0 0 0 12 .5z"
            ></path>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://t.me/odiaasoc"
          aria-label="Telegram"
          class="inline-flex items-center justify-center size-10 rounded-full ring-1 ring-light-gray/40 text-light hover:text-light hover:bg-dark/20 transition-colors"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-5"
            aria-hidden="true"
          >
            <path
              d="M9.04 15.29 8.9 18.4c.41 0 .59-.18.8-.4l1.92-1.84 3.98 2.92c.73.4 1.25.18 1.45-.68l2.62-12.28h.01c.23-1.08-.39-1.5-1.09-1.24L3.6 9.74c-1.06.41-1.04 1-.18 1.27l3.84 1.2 8.93-5.63c.42-.26.81-.12.49.14"
            ></path>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
