---
import { Image } from "astro:assets";
import isotipo from "../assets/isotipo.png";
import beer from "../assets/genericos/beer.png";
import { getCollection, type CollectionEntry } from "astro:content";
import BlogCard from "./BlogCard.astro";
import derechoAscii from "../assets/derecho-ascii.png";
import { Icon } from "astro-icon/components";

const latestPosts: CollectionEntry<"blog">[] = (
  await getCollection("blog", ({ data }) => !data.draft)
)
  .sort((a, b) => +new Date(b.data.date) - +new Date(a.data.date))
  .slice(0, 3);
---

<main id="top">
  <section class="bg-dark-purple text-light">
    <div class="flex justify-evenly flex-col md:flex-row">
      <div
        class="max-w-6xl px-4 pb-12 pt-8 sm:py-32 flex flex-col items-start gap-4"
      >
        <Image
          src={isotipo}
          alt="Isotipo de O.D.I.A."
          class="size-48 block md:hidden mx-auto"
          loading="eager"
          transition:name="isotipo"
        />

        <div
          class="flex items-center gap-4 md:flex-row flex-col justify-center md:justify-start md:mx-0"
        >
          <Image
            src={isotipo}
            alt="Isotipo de O.D.I.A."
            class="size-48 md:block hidden"
            loading="eager"
            transition:name="isotipo"
          />
          <h1
            class="text-[40px] sm:text-6xl font-extrabold leading-[1] tracking-tight font-redaction-20 text-light-gray text-shadow-[2px_3px_0px_var(--color-turquoise-highlight)] mx-auto mb-4"
          >
            <span
              class="text-turquoise-highlight text-shadow-sexy text-shadow-light-gray"
              >O</span
            >bservatorio de<br /><span
              class="text-turquoise-highlight text-shadow-sexy text-shadow-light-gray"
              >D</span
            >erecho<br /><span
              class="text-turquoise-highlight text-shadow-sexy text-shadow-light-gray"
              >I</span
            >nform치tico<br /><span
              class="text-turquoise-highlight text-shadow-sexy text-shadow-light-gray"
              >A</span
            >rgentino
          </h1>
        </div>
        <h2 class="max-w-2xl text-3xl text-slate-300 font-merriweather mb-4">
          Cuidamos tus
          <span class="underline decoration-turquoise-highlight"
            >derechos digitales</span
          >.
        </h2>
      </div>
      <div class="flex flex-col gap-4 items-center justify-center md:pr-24">
        <a
          href="/donar"
          class="absolute flex-none text-[72px] text-shadow-none w-[3.2em] h-[2.1em]"
          transition:name="beers"
        >
          <span
            class="absolute left-7/12 top-1/2 -translate-x-1/2 -translate-y-1/2 ml-[-0.7em] -rotate-12"
            >游꽄</span
          >
          <span
            class="absolute left-1/2 top-7/12 -translate-x-1/2 -translate-y-1/2 mt-[0.15em] z-10"
            >游꽄</span
          >
          <span
            class="absolute left-5/12 top-1/2 -translate-x-1/2 -translate-y-1/2 ml-[0.7em] rotate-12"
            >游꽄</span
          >
        </a>
      </div>
    </div>
  </section>

  <section
    class="bg-light text-dark grid grid-cols-1 md:grid-cols-2 items-center"
  >
    <Image
      src={derechoAscii}
      alt="Derecho ASCII"
      class="w-full h-full object-cover aspect-[120/67]"
    />
    <p
      class="max-w-2xl mx-auto text-xl font-merriweather py-12 px-4 md:text-2xl leading-normal"
    >
      El Observatorio de Derecho Inform치tico Argentino (O.D.I.A.) es una
      <em
        class="not-italic underline decoration-light-gray decoration-[3px] decoration-wavy underline-offset-2 text-dark-purple"
        >asociaci칩n civil sin fines de lucro</em
      >
      que fue creada con el objetivo de promover el ejercicio responsable de la ciudadan칤a
      digital y garantizar que los derechos de la comunidad sean respetados.
    </p>
  </section>

  <section class="bg-turquoise-highlight text-light">
    <div class="mx-auto max-w-6xl px-4 py-16">
      <h2
        class="text-4xl sm:text-5xl font-semibold mb-6 font-space-mono text-light text-shadow-sexy text-shadow-dark"
      >
        Nuestro trabajo
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <div class="flex flex-col gap-4">
          <a
            href="/casos/reconocimiento-facial"
            class="flex justify-between group bg-dark px-2 py-1"
          >
            <h3
              class="text-2xl sm:text-3xl font-semibold font-redaction-20 text-shadow-sexy text-shadow-dark group-hover:text-light-gray transition-colors duration-300"
            >
              Reconocimiento facial
            </h3>
            <Icon
              name="pixelarticons:arrow-right"
              class="size-8 text-light group-hover:text-light-gray transition-all group-hover:translate-x-1 duration-300"
              style="filter: drop-shadow(2px 3px 0px var(--color-dark));"
            />
          </a>
          <p class="text-lg text-light font-merriweather leading-snug">
            Logramos que se suspendiera el sistema de reconocimiento facial de
            la Ciudad de Buenos Aires y exigimos mas transparencia en su
            implementaci칩n.
          </p>
        </div>
        <div class="flex flex-col gap-4">
          <a
            href="/casos/app-cuidar"
            class="flex justify-between group bg-dark px-2 py-1"
          >
            <h3
              class="text-2xl sm:text-3xl font-semibold font-redaction-20 text-shadow-sexy text-shadow-dark group-hover:text-light-gray transition-colors duration-300"
            >
              App CUID.AR
            </h3>
            <Icon
              name="pixelarticons:arrow-right"
              class="size-8 text-light group-hover:text-light-gray transition-all group-hover:translate-x-1 duration-300"
              style="filter: drop-shadow(2px 3px 0px var(--color-dark));"
            />
          </a>
          <p class="text-lg text-light font-merriweather leading-snug">
            Durante el ASPO por COVID-19 analizamos el funcionamiento de la app
            CUID.AR y el manejo de <strong>datos personales sensibles</strong>.
            Logramos que se ordene borrar la base de datos de la app, que estaba
            almacenada fuera del pa칤s.
          </p>
        </div>
        <div class="flex flex-col gap-4">
          <a
            href="/static/documents/AIP%20-%20Lex.pdf"
            target="_blank"
            class="flex justify-between group bg-dark px-2 py-1"
          >
            <h3
              class="text-2xl sm:text-3xl font-semibold font-redaction-20 text-shadow-sexy text-shadow-dark group-hover:text-light-gray transition-colors duration-300"
            >
              LEX-100
            </h3>
            <Icon
              name="pixelarticons:arrow-right"
              class="size-8 text-light group-hover:text-light-gray transition-all group-hover:translate-x-1 duration-300"
              style="filter: drop-shadow(2px 3px 0px var(--color-dark));"
            />
          </a>
          <p class="text-lg text-light font-merriweather leading-snug">
            Realizamos pedidos de acceso a la informaci칩n sobre el sistema
            <strong>LEX-100</strong> del Poder Judicial para conocer su estado y
            perspectivas de mejora, con el objetivo de impulsar su modernizaci칩n
            y mayor transparencia.
          </p>
        </div>
      </div>
    </div>

    <section class="bg-light-gray text-dark">
      <div class="mx-auto max-w-6xl px-4 py-16">
        <h2
          class="text-4xl sm:text-5xl font-semibold mb-6 font-space-mono text-dark-purple"
        >
          Justicia Digital
        </h2>
        <p class="text-lg sm:text-xl font-merriweather max-w-3xl">
          Dos veces por semana nos encuentran en las aulas de la Facultad de
          Derecho de la Universidad de Buenos Aires en la materia Justicia
          Digital del Ciclo Profesional Orientado. Formando parte del
          Departamento de Sociales, la materia se vuelve un espacio de discusi칩n
          y di치logo del derecho inform치tico, su contexto y su implicancia
          pol칤tica.
        </p>
      </div>
    </section>

    <section class="bg-light text-dark">
      <div class="mx-auto max-w-6xl px-4 py-16">
        <h2
          class="text-4xl sm:text-5xl font-semibold mb-6 font-space-mono text-dark-purple"
        >
          Novedades
        </h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          {latestPosts.map((post) => <BlogCard post={post} />)}
        </div>
        <div class="mt-8 flex justify-end">
          <a
            href="/blog/"
            class="text-light font-raleway underline decoration-turquoise-highlight decoration-[3px] decoration-wavy underline-offset-4 bg-dark px-5 py-2 rounded-lg inline-block text-xl md:text-2xl outline-transparent outline-2 hover:outline-light-gray outline-offset-2 hover:scale-105 hover:rotate-1 transition-all duration-300 shadow-lg"
          >
            Ver todas las novedades
          </a>
        </div>
      </div>
    </section>
  </section>
</main>
