---
import { Image } from "astro:assets";
import isotipo from "../assets/isotipo.png";
---

<header class="bg-dark-purple text-light border-b border-light-gray">
  <nav class="flex flex-col">
    <div
      class="flex items-center justify-between gap-4 mx-auto max-w-6xl px-4 py-3 w-full"
    >
      <a
        href="/"
        class="flex items-center justify-center gap-3 group leading-none"
      >
        <Image
          src={isotipo}
          alt="O.D.I.A."
          class="w-8 h-8 rounded-sm"
          transition:name="isotipo"
        />
        <span
          class="font-redaction-20 text-lg tracking-tight group-hover:text-light-gray transition-colors translate-y-[2px]"
          >Observatorio de Derecho Informático Argentino</span
        >
      </a>
      <ul class="flex items-center gap-4 font-raleway text-sm sm:text-base">
        <!-- <li>
          <a
            href="/"
            class="px-3 py-1 rounded-md hover:bg-light-gray hover:text-dark-purple transition-colors"
            >Inicio</a
          >
        </li> -->
      </ul>
    </div>
    <slot />
  </nav>
</header>
