---
import SocialLink from "./SocialLink.astro";
---

<footer
  class="bg-dark-purple text-light [&_a]:underline [&_a]:text-light-gray [&_a]:hover:text-light [&_a]:transition-colors"
>
  <div
    class="mx-auto max-w-6xl px-4 py-10 flex flex-col md:flex-row items-start gap-8 font-merriweather"
  >
    <ul class="flex flex-col gap-1 text-left text-sm">
      <li>
        <a href="/">
          Observatorio de Derecho Informático Argentino (O.D.I.A.)
        </a>
      </li>
      <li>
        <a href="/acerca"> Acerca de nosotros </a>
      </li>
      <li>
        <a href="https://marca.odia.legal"> Marca </a>
      </li>
    </ul>

    <div
      class="flex flex-col gap-1 text-left text-sm text-light-gray text-balance leading-relaxed"
    >
      <p>
        Promovemos el ejercicio responsable de la ciudadanía digital y
        garantizamos que los derechos de la comunidad sean respetados.
      </p>
      <p>CUIT: 30-71646782-8</p>
      <p>Camarones 4923, Depto. 4, C1407, Ciudad Autónoma de Buenos Aires</p>
      <!-- TODO: mail institucional por favorrrr -->
      <a href="mailto:odiaasoc@gmail.com">odiaasoc@gmail.com</a>
    </div>

    <ul
      class="flex items-center gap-3 justify-center md:justify-end text-light-gray *:hover:text-light transition-colors"
    >
      <li>
        <SocialLink
          href="https://instagram.com/odiaasoc"
          icon="mdi:instagram"
          ariaLabel="Instagram"
        />
      </li>
      <li>
        <SocialLink
          href="https://twitter.com/odiaasoc"
          icon="mdi:twitter"
          ariaLabel="Twitter"
        />
      </li>
      <li>
        <SocialLink
          href="https://www.linkedin.com/company/odiaasoc/"
          icon="mdi:linkedin"
          ariaLabel="LinkedIn"
        />
      </li>
      <li>
        <SocialLink
          href="https://github.com/odia/"
          icon="mdi:github"
          ariaLabel="GitHub"
        />
      </li>
      <li>
        <SocialLink
          href="https://www.youtube.com/@observatoriodederechoinfor7762/videos"
          icon="mdi:youtube"
          ariaLabel="YouTube"
        />
      </li>
    </ul>
  </div>
</footer>
