@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-raleway: "Raleway Variable", sans-serif;
  --font-merriweather: "Merriweather Variable", serif;
  --font-space-mono: "Space Mono", monospace;
  --font-redaction-20: "Redaction 20", "Merriweather Variable", serif;

  --color-light: #feead1;
  --color-dark: #333333;
  --color-dark-purple: #403136;
  --color-red-highlight: #ce342c;
  --color-turquoise-highlight: #007a83;
  --color-light-gray: #bdd2ce;

  --text-shadow-sexy: 2px 3px 0px var(--color-dark);
}

@view-transition {
  navigation: auto;
}

.font-redaction-20 {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}
